footer{
    background-color: #FFB600;
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;



    button{
        background-color: black;
        color: white;
        padding: 10px 20px;
        font-size: 15px;
        border: none;
        border-radius: 5px;
    }
}