
#admin {

    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;


    form{
        display: flex;
        border: 1px solid white;
        flex-direction: column;
        padding: 20px;
        border-radius: 10px;
        gap: 20px;
        align-items: center;
        input{
            border-radius: 5px;
            padding: 10px 20px;
        }
        button{
            padding: 10px 20px;
            border-radius: 5px;
            background-color: #f1f1f1;
            border: none;
            cursor: pointer;
            width: 100%;
        }
    }

}



